﻿<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Сервис метрики ДОКИП</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Сервис доступен по интерфейсам<br />
                <b>SOAP</b><a href="/MetricService.svc" title="SOAP Api"> /MetricService.svc</a><br />
                <b>REST</b><a href="/api/metric" title="REST Api"> /api/metric</a><br />
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>
            Параметры метрики</h3>
        <table class="table-info">
            <tr>
                <th>
                    Поле «Параметр»
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Возможные значения
                </th>
                <th>
                    Описание значений
                </th>
            </tr>
            <tr>
                <td rowspan="2">
                    DBSERVICE
                </td>
                <td rowspan="2">
                    Сервис данных
                </td>
                <td>
                    GOOD
                </td>
                <td>
                    Подсистема работает нормально
                </td>
            </tr>
            <tr>
                <td>
                    BAD
                </td>
                <td>
                    Подсистема не работает
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    DBSERVER
                </td>
                <td rowspan="2">
                    Сервер БД
                </td>
                <td>
                    GOOD
                </td>
                <td>
                    Подсистема работает нормально
                </td>
            </tr>
            <tr>
                <td>
                    BAD
                </td>
                <td>
                    Подсистема не работает
                </td>
            </tr>
            <tr>
                <td>
                    ACTIVEUSERS
                </td>
                <td>
                    Колличество активных пользователей
                </td>
                <td>
                    Число
                </td>
                <td>
                    1&lt;n&lt;20 - низкая загрузка
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    DBENVIRONMENT
                </td>
                <td rowspan="2">
                    Настройки базы данных
                <td>
                    GOOD
                </td>
                <td>
                    Все настройки корректны
                </td>
            </tr>
            <tr>
                <td>
                    BAD
                </td>
                <td>
                    Ошибки в настройках БД
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    SETTINGSSERVICE
                </td>
                <td rowspan="2">
                    Сервис хранения пользовательских настроек
                </td>
                <td>
                    GOOD
                </td>
                <td>
                    Подсистема работает нормально
                </td>
            </tr>
            <tr>
                <td>
                    BAD
                </td>
                <td>
                    Подсистема не работает
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    ALLSYSTEMS
                </td>
                <td rowspan="2">
                    Общий показатель работоспособности системы
                </td>
                <td>
                    GOOD
                </td>
                <td>
                    Все подсистемы работают нормально
                </td>
            </tr>
            <tr>
                <td>
                    BAD
                </td>
                <td>
                    Не все подсистемы работают нормально
                </td>
            </tr>
        </table>
    </section>
</div>
