﻿@using PFR_INVEST.Web2.Models;

@model WebNpfCorrespNotifAssignViewModel

@{
    var defTextWidth = 400;
    var defLabelWidth = 250;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.ID, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "ID")).GetHtml()



<div class="line">
    @Html.DevExpress().LabelFor(model => model.DeliveryDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.DeliveryDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.SenderID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.SenderID, settings =>
    {
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "FormalizedName", "ID", typeof(long));
    }).BindList(Model.NPFList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.NotifTypeID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.NotifTypeID, settings =>
    {
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    }).BindList(Model.PensionTypeList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.NotifNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.NotifNum, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.NotifDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.NotifDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegisterNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RegisterNum, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegisterDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.RegisterDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

