﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfSpnRegisterViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 200;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)
@if (Model.AttachDefaultGridScripts)
{
    @Html.Partial("_ListScriptIncludePartialView", Model, ViewData)
}


<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegisterKind, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.RegisterKind, settings =>
    {
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, typeof(string));
        settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('2'); SubmitAjaxForm('{Model.FormId}'); }}";
        settings.ClientEnabled = Model.IsKindEditable;
    }).BindList(Model.Kinds).GetHtml()
</div>

@if (Model.IsContentVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegisterContent, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.RegisterContent, settings =>
{
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, typeof(string));
    settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('1'); SubmitAjaxForm('{Model.FormId}'); }}";
}).BindList(Model.Contents).GetHtml()
</div>
}
@if (Model.IsCompanyVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegisterCompany, settings =>
    {
    //settings.Text = text;
    settings.Width = defLabelWidth;
    settings.ControlStyle.CssClass = "label";
        if (Model.IsCompanyRequired)
            settings.Text += "*";
    }).GetHtml()

    @Html.DevExpress().TextBoxFor(model => model.RegisterCompany, s=> FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>
}

@if (Model.IsPortfolioVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PortfolioID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.PortfolioID, settings =>
    {
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Year", "ID", typeof(long));
    }).BindList(Model.PortfoliosList).GetHtml()
</div>
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ApproveDocID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.ApproveDocID, settings =>
{
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
}).BindList(Model.ApproveDocsList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RegNum, s=> FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.RegDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

@if (Model.IsSumCFRVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.SumCFR, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.SumCFR, settings =>
    {
        FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model);
        settings.Properties.DisplayFormatString = FrontEndHelper.DECIMAL_MASK;
        settings.Properties.DisplayFormatInEditMode = true;
    }).GetHtml()
</div>
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.SumSPN, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.SumSPN, settings => {
    FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model);
    settings.Properties.DisplayFormatString = FrontEndHelper.DECIMAL_MASK;
    settings.Properties.DisplayFormatInEditMode = true;
}).GetHtml()
</div>
@if (Model.IsSumZLVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.SumZL, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.SumZL, settings => {
    FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model);
    settings.Properties.DisplayFormatString = FrontEndHelper.LONG_MASK;
    settings.Properties.DisplayFormatInEditMode = true;
}).GetHtml()
</div>
}

@if (Model.IsERZLVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.ERZLContent, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().Label(s => FrontEndHelper.GenerateLabelSettings(s, Model.ERZLContent, defTextWidth)).GetHtml()
</div>
}

@if (Model.IsPayAssVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PayAssignment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().MemoFor(model => model.PayAssignment, settings => FrontEndHelper.GenerateMemoSettings(settings, defTextWidth, 50, Model)).GetHtml()
</div>
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegisterComment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RegisterComment, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>

@if (Model.IsTrancheDateVisible)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegisterTrancheDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.RegisterTrancheDate, settings => FrontEndHelper.GenerateReadonlyDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
}

<div class="line">
    @Html.DevExpress().Button(settings =>
    {
    FrontEndHelper.GenerateButtonSettings(settings, 200, "Удалить", $"btnDeleteFinreg{Model.FormId}", Model);
    settings.ClientSideEvents.Click = $"function(s,e){{if({Model.EditAccessDenied.ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}') !== true) return; debugger; deleteEntryId=listParentEntryId; {Model.FormId}GridView.PerformCallback(); }}";
    settings.ClientEnabled = false;
    }).GetHtml()
</div>

@Html.Partial("_SpnRegisterViewGridPartial",
    new object[]{
        Model.FinregWithNPFList,
        Model.IsZLColumnEditable,
        Model.IsCountColumnEditable,
        Model.IsCFRColumnVisible,
        Model.IsCFRCountColumnEditable,
        Model.IsCorrColumnVisible
    }, ViewData)
