﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfSpnFinregisterViewModel2

@{ 
var defTextWidth = 400;
var defLabelWidth = 200;
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.NT_ContentID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.NT_ContentID, settings =>
    {
        settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('4'); SubmitAjaxForm('{Model.FormId}'); }}";
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    }).BindList(Model.NT_ContentList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().TextBoxFor(model => model.NT_RegisterID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
    @Html.DevExpress().LabelFor(model => model.WebNT_RegisterName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.WebNT_RegisterName, s => FrontEndHelper.GenerateReadonlyTextBoxSettings(s, defTextWidth, Model)).GetHtml()
    @Html.DevExpress().Button(s =>
{
    s.ClientEnabled = Model.CanExecuteSelectRegisterCommand();
    FrontEndHelper.GenerateButtonSettings(s, 200, "Выбрать","btnSelectRegister", Model);
    s.ClientSideEvents.Click = $"function(s,e) {{ ExecuteServerSideAction('Npf', 'GetSelectRegisterParams', {Model.WebRegisterID}, 'id', function(result) {{ debugger; ExecuteDialogWithCustomParams('NpfSpnSelectRegister', 'Npf', '{ViewData["FormID"]}' , {Convert.ToInt64(ViewData["Layer"]) + 1}, result); }});  }}";
}).GetHtml()
</div>

@Html.DevExpress().Label(s => FrontEndHelper.GenerateLabelSettings(s, "НПФ, в которые переданы средства", defLabelWidth)).GetHtml()

@Html.Partial("_SpnFinregisterNtGridViewPartial", Model.NT_NpfList, ViewData)

<div class="line">
    @Html.DevExpress().Button(s =>
{
    s.ClientEnabled = Model.CanExecuteAddNpfCommandCommand();
    FrontEndHelper.GenerateButtonSettings(s, 200, "Добавить НПФ","btnNtAddNpf", Model);
    s.ClientSideEvents.Click = $"function(s,e) {{ ExecuteDialogWithCustomParams('{ViewData["FormID"]}', 'Npf', 'NpfSpnRegisterItem' , {Convert.ToInt64(ViewData["Layer"]) + 1}, '{Model.ID}|{Model.NT_RegisterID}|true'); }}";
}).GetHtml()

    @Html.DevExpress().Button(s =>
    {
        s.ClientEnabled = false;
        FrontEndHelper.GenerateButtonSettings(s, 200, "Удалить НПФ","btnNtDelNpf", Model);
        s.ClientSideEvents.Click = $"function(s,e){{if({Model.IsEditAccessDenied().ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}') !== true) return; deleteEntryId=listParentEntryId; NtFinregisterGridView.PerformCallback(); }}";
    }).GetHtml()
</div>
