﻿@using PFR_INVEST.Web2.BusinessLogic
@using PFR_INVEST.DataObjects.ListItems

@model List<ERZLNotifiesListItem>

@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"NoticesGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);
    settings.CallbackRouteValues = new { Controller = "Npf", Action = "NoticesGridViewCallback" };

    settings.ClientSideEvents.FocusedRowChanged = $"function(s,e) {{ listFocusedRowChanged(s,e); var key = s.GetRowKey(s.GetFocusedRowIndex()); if (key == null) {{ eval('btnDeleteNotice').SetEnabled(false); return; }} else {{ eval('btnDeleteNotice').SetEnabled(true); }} }}";
    settings.ClientSideEvents.BeginCallback = FrontEndHelper.GetGridViewBeginCallBack((string)ViewData["FormID"], ViewData["EntryID"]?.ToString(), true);
    settings.ClientSideEvents.RowDblClick = FrontEndHelper.GetGridRowDblClickString("ID;ERZL_ID", "NpfRedistZlNoticeItem", "Npf");

    settings.Columns.Add("NPFName", "Наименование НПФ");
    settings.Columns.Add("PFR2NPFCount", "В НПФ из ПФР");
    settings.Columns.Add("NPF2PFRCount", "Из НПФ в ПФР");
    settings.Columns.Add("OTHER2NPFCount", "В НПФ из др. НПФ");
    settings.Columns.Add("NPF2OTHERCount", "Из НПФ в др. НПФ");
    settings.Columns.Add("NotifyNum", "Номер уведомления");
    settings.Columns.Add("NotifyNum", "Номер уведомления").Visible = false;

    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "PFR2NPFCount").DisplayFormat = "{0}";
    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "NPF2PFRCount").DisplayFormat = "{0}";
    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "OTHER2NPFCount").DisplayFormat = "{0}";
    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "NPF2OTHERCount").DisplayFormat = "{0}";

}).Bind(Model).GetHtml()

