﻿@using PFR_INVEST.Web2.BusinessLogic.Models
@using PFR_INVEST.Web2.BusinessLogic

@model IWebViewModel

<div class="line2">
    <div>
        @Html.DevExpress().Button(settings =>
   {
       FrontEndHelper.GenerateSimpleCancelButtonSettings(settings, Model, (int)ViewData["Layer"]);
        settings.Text = "Закрыть";
   }).GetHtml()
    </div>
</div>