@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebListViewModel

<script>
    function siListRowDoubleClick(s, e) {
        OnRibbonCommandExecutedExternal('@(Model.FormData.Count == 0 ? "" : @Model.FormData[0].Id)', 'Dictionary', s.GetRowKey(e.visibleIndex));
    }

    function siListFocusedRowChanged(s, e) {
        debugger;
        listParentEntryId = s.GetRowKey(s.GetFocusedRowIndex());
        var result = listParentEntryId != null;
        //ribbon.GetItemByName('DicSiCreateReorg').SetEnabled(result);
    }
</script>

<div class="gridHorizontalScrollDiv">
    @Html.Partial("_SiViolationListContainerViewPartial", Model)
</div>
