﻿@using PFR_INVEST.Web2.BusinessLogic
@using PFR_INVEST.Web2.Models;

@{
var model = new WebNpfViewModel();
var model2 = new WebDlgRetireChiefViewModel();
ViewBag.Title = "NPFAccount";
}


@using (Ajax.BeginForm("Index2", "Dictionary", FrontEndHelper.GenerateDefaultAjaxOptions(model), FrontEndHelper.GenerateDefaultAjaxStyle(model)))
{
<div id="contentBody">

    @using (Ajax.BeginForm("Index3", "Dictionary", FrontEndHelper.GenerateDefaultAjaxOptions(model2), FrontEndHelper.GenerateDefaultAjaxStyle(model2)))
    {
    <div id="contentBody2">
    </div>
    }
</div>
}