﻿@{
    ViewBag.Title = "ПТК ДОКИП - Справочники";
}

<!--Html.Action("_FormTemplatePartial")  class="center-block text-center" -->

<div class="text-center" id="FormHeaderContainer">
    <h4 id="FormHeader" style="padding: 0;"></h4>
</div>

<script src="~/Scripts/Custom/AutoGridViewSize.js"></script>
<script src="~/Scripts/Core/Dic/DicNpfEntityView.js"></script>
<script src="~/Scripts/Core/Dic/DicNpfEntityGarantView.js"></script>

<script src="/Scripts/Core/FormInputCheck.js"></script>

<div id="ajaxdiv">
    <img src="~/Content/Images/pfr_logo.png" alt="" class="center-block text-center bgimg" />
</div>

@*Обязательные теги для страницы раздела*@
<div id="popupscriptdiv"></div>
<div id="popupdiv"></div>
<div id="popupscriptdiv1"></div>
<div id="popupdiv1"></div>
