@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebListViewModel

<script>
    function rowDoubleClick(s, e) {
        OnRibbonCommandExecutedExternal('@Model.FormData[0].Id', 'Dictionary', s.GetRowKey(e.visibleIndex));
    }

</script>

<div class="gridHorizontalScrollDiv">
    @Html.Partial("_NpfListErrorCodesContainerViewPartial", Model)
</div>

