@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebListViewModel

<script>
    function npfListNpfRowDoubleClick(s, e) {
        OnRibbonCommandExecutedExternal('@Model.FormData[0].Id', 'Dictionary', s.GetRowKey(e.visibleIndex));
    }

    function npfListFocusedRowChanged(s, e) {
        debugger;
        listParentEntryId = s.GetRowKey(s.GetFocusedRowIndex());
        listParentEntryName = s.name;

        var result = listParentEntryId != null;
        globalUpdateButtonsVisibility(result, 'Dictionary');
    }
</script>

<div class="gridHorizontalScrollDiv">
    @Html.Partial("_NpfListNpfContainerViewPartial", Model)
</div>
