﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic
@model WebNpfErrorCodeViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 100;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.Code, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Code, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Description, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Description, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Comment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth)).GetHtml()
    @Html.DevExpress().MemoFor(model => model.Comment, settings => FrontEndHelper.GenerateMemoSettings(settings, defTextWidth, 100, Model)).GetHtml()
</div>

