﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfCourierViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 300;
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.LoaNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LoaNum")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.LoaNum, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.LoaDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LoaDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.LoaDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.LoaDateEnd, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LoaDateEnd")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.LoaDateEnd, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.LoaDateReg, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LoaDateReg")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.LoaDateReg, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().Button(settings => {
    FrontEndHelper.GenerateButtonSettings(settings, 300, "Удалить доверенность из истории", "btnDeleteLoa", Model);
    settings.ClientSideEvents.Click = $"function(s,e){{if(!{(!Model.EditAccessDenied).ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}') !== true) return; deleteEntryId=selectedCourierLoaListId; CourierLoaGridView.PerformCallback(); }}";
    settings.ClientEnabled = false;
}).GetHtml()
</div>

@Html.Partial("_NpfCourierLoaGridViewPartial", WebNpfCourierViewModel.GetCourierLoaList(Model.ID), ViewData)
