﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 300;
}

<div class="line">
    @Html.DevExpress().Button(settings =>
{
    FrontEndHelper.GenerateButtonSettings(settings, 200, "Удалить", "btnDeleteContact", Model);
    settings.ClientSideEvents.Click = $"function(s,e){{if({Model.EditAccessDenied.ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}') !== true) return; debugger; deleteEntryId=selectedContactListId; ContactsGridView.PerformCallback(); }}";
    settings.ClientEnabled = false;
}).GetHtml()
</div>

@Html.Partial("_NpfCreateNpfContactsGridViewPartial", Model.WebContactsList, ViewData)
