﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 350;
}

<div class="line">
    @Html.DevExpress().Button(settings =>
    {
        FrontEndHelper.GenerateButtonSettings(settings, 250, "Редактировать счет", "btnEditAccount", Model);
        settings.ClientSideEvents.Click = $"function (s,e,) {{ if(!{Model.EditAccessDenied.ToString().ToLower()}) OnRibbonCommandExecutedExternal(\"DicNpfCreateAccount\",\"Dictionary\", {(Model.CurrentBankAccount?.ID ?? 0)}, 1, \"{Model.ID}\", \"{Model.FormId}\"); }}";
        settings.ClientEnabled = Model.CanEditAccount;
    }).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccLegalEntityName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccLegalEntityName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccLegalEntityName, settings =>
{
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.INN, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "INN")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.INN, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "9999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.OKPP, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "OKPP")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.OKPP, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccAccountNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccAccountNumber")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccAccountNumber, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "99999999999999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccBankName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccBankName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccBankName, settings =>
{
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccBankLocation, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccBankLocation")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccBankLocation, settings =>
{
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccCorrespondentAccountNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccCorrespondentAccountNumber")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccCorrespondentAccountNumber, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "99999999999999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccBIK, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccBIK")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccBIK, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccINN, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccINN")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccINN, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "9999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.CurrBankAccKPP, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "CurrBankAccKPP")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CurrBankAccKPP, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "999999999");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = settings.ClientEnabled == false ? false : !Model.CanEditAccount;
}).GetHtml()
</div>

@Html.Partial("_NpfCreateNpfBankGridViewPartial", (Model.OldBankAccountsList == null ? new List<BankAccount>() : Model.OldBankAccountsList.ToList()), ViewData)
